#rohitlogo{
    height: 50px;
    width: 55px;
    border-width: 3px;
    border-style: solid;
    border-color: #4b6cc1;
    font-size: 35px;
    padding-bottom: 50px;
    padding-left: 8px;
}
#navList1{
    color: #fff;
}
#navList2{
    color: #fff;
}
#navList3{
    color: #fff;
}
#navList4{
    color: #fff;
}
#navList5{
    color: #fff;
}
/*
#navList1:hover{
    color: #323f4b;
}
#navList2:hover{
    color: #323f4b;
}
#navList3:hover{
    color: #323f4b;
}
#navList4:hover{
    color: #323f4b;
}
#navList5:hover{
    color: #323f4b;
}

.nav-hover:hover{
    background-color: azure;
    transform: scale(1.1);
    transition-duration: 0.5s;
} */

.nav-hover{
    position: relative;
    color: #fff;
}
.nav-hover:hover::after{
    width: 100%;
   /* transform: scale(1.1);
    transition-duration: 0.5s;*/
}
.nav-hover:after{
    content: "";
    position: absolute;
    background-color: #ff851b;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: 0.3s;    
}



.rohit-home-container{
    background-color: #191a1d;
    background-size: cover;
    height: 100vh;
}
.rohit-home-image{
    height: 390px;
    width: 390px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.rohit-main-heading{
    color: #fff;
    font-size: 55px;
    font-weight: 450;
}
.rohit-para{
    color: #9aa5b1;
    font-size: 20px;
}
.rohit-span{
    color: #4b6cc1;
}
.rohit-home-container-contact-btn{
    display:inline-block;
    padding:8px 20px;
    color:#2196f3;
    Letter-spacing:0px;
    text-decoration:none;
    font-size:20px;
    overflow:hidden;
    transition:0.2s;
}
.rohit-home-container-contact-btn:hover{
    color:#255784;
    background:#2196f3;
    box-shadow:0 0 5px #2196f3,0 0 20px #2196f3,0 0 35px #2196f3;
    transition-delay: 0.11s;
    text-decoration: none;
    border-radius: 5px;
}









.aboutme-home-container{
    background-color: #323f4b;
}
.aboutme-para{
    color: #cced00;
    font-size: 30px;
    font-weight: 500;
}
.aboutme-heading{
    color: #fff;
}
.aboutme-img{
    height: 500px;
    width: 200%;
    margin-bottom: 15px;
}
.aboutme-discription{
    color: #9aa5b1;
}
.skill-home-container{
    background-color: #1f2933;
    margin:20px;
    width:100%;
}
.skill-img{
    height: 95px;
    width: 95px;
    margin: 2px;
}
.data{
    font-size: 15px;
}
.skill-heading{
    color: #fff;
    margin-top: 2px;
}
.skill-card{
    height: 160px;
    width: 100px;
    background-color: #323f4b;
    border-radius: 20px;
    padding-top: 20px;
    margin-bottom: 18px;
    margin-left: 10px;
}
.skill-card:hover{
    transform: scale(1.2);
    transition-duration: 0.9s;
}














.certificate-home-container{
    background-color: #52606d;

    
}
.certificate-heading{
    color: #cced00;
    font-weight: 500;
}
.certificate-main-heading{
    color: white;
    font-weight: 400;
    font-size: 60px;
}
.certificate-card{
    background-color: #323f4b;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.certificate-image{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
.certificate-card-heading{
    color: white;
    font-size: 30px;
}
.certificate-card-para{
    color: #52606d;
    font-size: 20px;
    font-weight: 500;
}
.certificate-btn:hover{
    color: black;
    background-color: #ea7731;
}
.certificate-card:hover{
    transform: scale(1.06);
    transition-duration: 0.5s;
}
.travellel{
    text-decoration: none;
    color: #ea7731;
}
.travellel:hover{
    text-decoration: none;
}









.project-image{
    height: 250px;
    background-size: cover;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border-radius: 10px;
}
.project-home-container{
    padding: 10px;
    background-color: #3e4c59;
    height: 100%;
    width: 100vw;
}
.project-card{
    background-color: #323f4b;
    margin-bottom: 10px;

}
.project-card:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.project-main-heading{
    color:#fff;
}
.project-sub-heading{
    color: #959ead;
}
.project-para{
    color:#959ead;
}
.project-readmore{
    font-weight: 600;
    color: #cced00;
}
.project-main-sub-heading{
    color: white;
    font-weight: 500;
}
.project-starting-para{
    color: #cced00;
    font-weight: 500;
    font-size: 20px;
}











.service-home-container{
    background-color: #52606d;

    
}
.service-heading{
    color: #cced00;
    font-weight: 500;
}
.service-main-heading{
    color: white;
    font-weight: 400;
    font-size: 60px;
}
.service-card{
    background-color: #323f4b;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.service-card:hover{
    transform: scale(1.06);
    transition-duration: 0.5s;
}

.service-image{
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}
.service-card-heading{
    color: white;
    font-size: 30px;
}
.service-card-para{
    color: #52606d;
    font-size: 20px;
    font-weight: 500;
}







.contact-me-home-container{
    padding: 10px;
    background-color: #3e4c59;
    height: 100vh;
}
.contact-me-card{
    background-color: #323f4b;
    margin-bottom: 10px;
}
.contact-me-map{
    padding: 0px;
}

.contact-me-main-heading{
    color:#fff;
}
.contact-me-sub-heading{
    color: #959ead;
}
.contact-me-para{
    color:#959ead;
}
.contact-me-readmore{
    font-weight: 600;
    color: #cced00;
}
.contact-me-main-sub-heading{
    color: white;
    font-weight: 500;
}
.contact-me-starting-para{
    color: #cced00;
    font-weight: 500;
    font-size: 20px;
}

.contact-me-label{
    color: #959ead;
}
.contact-me-textarea{
    resize: none;
    height: 100px;
}
.contact-me-button{
    width: 180px;
    margin-top: 10px;
    margin-left: 30%;
}
.input{
    margin-top: 20px;
}
.input:hover{
    background-color: #19232d;
    border-bottom: 2px solid #f28825;
    color: #959ead;
}














.work-home-container{
    background-image: url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png);
    height: 100vh;
    background-size: cover;
}
.work-horizontal{
    background-color: #fff;
}
.work-card{
    width: 300px;
    margin: 30px;
}
.work-number{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
.work-para{
    color: #fff;
    font-weight: 400;
}













.bg-container{
    background-color: #19232d;
    background-size: cover;
    height: 100vh;
    margin: 2px;
}
.logo{
    height: 50px;
    width: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.icons{
    text-decoration: none;
    font-size: 30px;
    padding: 13px;
    background-color: #202b36;
    border-width: 0px;
    border-radius: 40px;
    color:#959ead ;
    margin: 10px;
}
.icons:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
    text-decoration: none;
}
.para{
    color: #959ead;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}
.contact-icons{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 8px;
    color: #959ead;
    background-color: #19232d;
    text-decoration: none;
}
.contact-icons:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.sub-head{
    color: #959ead;
    margin-top: 10px;
}
.para-2{
    color: #959ead;
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
}
.horizontalline{
    background-color: #959ead;
}
